<div class="" id="social">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-balance text-4xl font-semibold tracking-tight text-black sm:text-5xl"
      >
        Facilita tus tareas del hogar con <span class="text-primary">
          Rappifix</span
        >.
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-gray-900">
        Desde pequeñas reparaciones hasta grandes proyectos, nuestro equipo está
        listo para ayudarte de manera rápida y confiable. Describe tu necesidad
        y recibe asistencia profesional hoy mismo.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="https://wa.me/50766592072?Hola%20quiero%20una%20cotizacion"
          target="_blank"
          class="rounded-md bg-contrast px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary hover:scale-105 duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >Contactanos Hoy Mismo</a
        >
      </div>
    </div>
  </div>
</div>
