<div class="mt-10 grid grid-cols-2 gap-6 md:px-10">
  <a
    href="https://wa.me/50768541945?text=Hola%20quiero%20un%20servicio%20de%20instalaci칩n"
    target="_blank"
    class="rounded-md text-balance flex justify-evenly items-center bg-contrast px-2 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary hover:scale-105 duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
  >
    <img class="h-6 w-6" src="/driller.png" /><span>Servicio de Instalaci칩n</span></a
  >

  <a
    href="https://wa.me/50768541945?text=Hola%20quiero%20reparar%20un%20da침o"
    target="_blank"
    class="rounded-md text-balance flex justify-evenly items-center bg-contrast px-2 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary hover:scale-105 duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    ><img class="h-6 w-6" src="/repair1.png"/><span>Reparar un da침o</span></a
  >
  <a
    href="https://wa.me/50768541945?text=Hola%20quiero%20mejorar%20un%20espacio"
    target="_blank"
    class="rounded-md text-balance flex justify-evenly items-center bg-contrast px-2 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary hover:scale-105 duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    ><img class="h-6 w-6" src="/construction.png"/>Mejorar un espacio</a
  >
  <a
    href="https://wa.me/50768541945?text=Hola%20quiero%20armar%20un%20mueble"
    target="_blank"
    class="rounded-md text-balance flex justify-evenly items-center bg-contrast px-2 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary hover:scale-105 duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    ><img class="h-6 w-6" src="/tools.png"/>Armar un mueble</a
  >
</div>
